/* All Fonts Listing */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


body {
    background-image: url('images/wp5524653.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    margin-top: 25px;
}

/* Greetings Section  */
.greetings {
    padding: 20px 0;
    width: 35%;
    border-bottom: 1px solid #fff;
}

.wishes {
    color: #fff;
    font-size: 50px;
    padding-bottom: 10px;
}

.lines {
    color: #fff;
    font-size: 30px;
}

/************************/

/* Time Section  */
.time {
    color: #fff;
    font-size: 60px;
    padding-top: 5px;
}

/******************/

/* Search Section  */
.search-box {
    background-color: transparent;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

#search-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
}

#search-input::placeholder {
    color: #fff;
    opacity: 0.7;
}


/********************/

/* Shortcut Links */
